<nav class="navbar navbar-dark bg-green" id="nav-bar-head" *ngIf="userLoggedIn">
  <div class="container-fluid mx-2">
    <a class="navbar-brand brand-name" href="#">SPACE COLLAGE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
      aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title brand-name" id="offcanvasDarkNavbarLabel">SPACE COLLAGE</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link pointer" aria-current="page" (click)="navigate('home')">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pointer text-tooltip" (click)="onShare()">Share
              <span class="tooltip-text" *ngIf="copiedText">{{'Copied!'}}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link pointer">Profile</a>
            <div class="row track-profile">
              <span class="col-md-12 col-sm-12">Profile Name: {{profileDetails?.artist_name}}</span>
              <span class="col-md-12 col-sm-12">User Id: {{profileDetails?.user_id}}</span>
              <span class="col-md-12 ccol-sm-12">Login Id: {{profileDetails?.email_id}}</span>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link pointer" (click)="onLogout()">Logout</a>
          </li>
          <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Actions
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li> -->
        </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </div>
</nav>
