<!-- <div class="container-fluid"> -->
<div id="header" *ngIf="displayHeaders">
  <app-header></app-header>
</div>
<div id="middle-body">
  <div class="row">
    <!-- <div class="col-md-0 col-sm-0"></div> -->
    <div class="col-md-4 col-sm-2 col-1"></div>

    <!-- use this if wanted to revert back --  [ngStyle]="{'margin-left':'50px'}" -->
    <!-- class="col-md-12 col-sm-12" -->
    <div class="col-md-8 col-sm-10 col-10" >
      <router-outlet></router-outlet>
    </div>
    <!-- <div class="col-md-0 col-sm-0"></div> -->
    <div class="col-md-4 col-sm-0 col-1"></div>
  </div>
</div>

<div id="footer">
  <app-footer></app-footer>
</div>

<!-- </div> -->
