<!-- removed fixed size fixed-bottom -->

<footer class="footer foot-bottom">
  <div class="row">
    <div class="col col-md-4 col-sm-1 mt-2 text-start">
      <div class="ms-4">
        <span class="brand-name">
          A Gallery For
        </span>
        <span class="brand-name-populate">
          Artists!
        </span>
      </div>
    </div>
    <div class="col col-md-4 col-sm-1 mt-2 text-center">
      <span class="brand-name">
        ......🥲😶‍🌫️😞🧐......
      </span>
    </div>
    <div class="col col-md-4 col-sm-1 mt-2 text-end">
      <span class="brand-name me-4">
        Check Later 🥲
      </span>
    </div>
  </div>
</footer>
